<!--  ARREGLO usando For  -->

<div>
    <p *ngFor="let amix of amigos">{{amix}}</p>
</div>

<!--  ARREGLO ejemplo 2. usando For  -->

<div>
    <h2 *ngFor="let amix of amigos; let i=index;">{{i+1}}--{{amix}}</h2>
</div>

<!--  ARREGLO ejemplo 3. usando IF  -->

<div>
    <h3 *ngIf="arr.length < 10 ">
        Soy un array grande
    </h3>
</div>

<!--  IF  -->

<div>
    <h5 *ngIf="nota >= 70 && nota <100 ">
        Aprobaste la materia
    </h5>
</div>

<div>
    <h5 *ngIf="edad >= 18 ">
        Eres mayor de edad
    </h5>
</div>


<!--  OBJETO -->
<p>Nombre:{{alumnos.nombre}}</p>
<p>Edad:{{alumnos.edad}}</p>


<!-- OBJETO ANIDADO
<div>
    <p *ngFor="let alum of estudiantes"></p>
    {{alum.nombre}}
    {{alum.edad}}
</div>
-->


<!--  ARRAY DE OBJETOS -->
<h3>Carro: {{carros[0].marcavehiculo}}</h3>
<h3>Cantante: {{carros[1].cantante}}</h3>




